#caixa-normal {
	width: 400px;
	background-color: #BF1F1F;
	font-family: Verdana;
	font-size: 28px;
	color: white;
}

#caixa_com_box_model_01 {
	width: 300px;
	background-color: #BF1F1F;
	font-family: Verdana;
	font-size: 12px;
	color: #4B0082;
	padding: 20px;
	border: solid 2px #F5F5DC;
	margin: 5px;
	text-align: left;
}

#caixa_com_box_model_02 {
	width: 345px;
	background-color: AliceBlue;
	font-family: Roboto;
	font-size: 14px;
	color: RGB(25,25,112);
	padding: 20px;
	border: dotted 7px RGB(139,0,139);
	margin: 15px;
	font-style: italic;
	display: flex;
	position: absolute;
	text-align: right;
	left: 50%;
}